<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>drinks</title>
</head>
<body>
    <div id="container">
        <div id="menuTopRow">
            <div>
                <div id="menuTitle">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn"><img src="../static/images/menu.png" alt="menu_button" class="menuButton">
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="/">Home</a>
                            <a href="/menu">Menu</a>
                            <a href="https://www.doordash.com/store/mumu-hot-pot-foster-city-864410/?utm_campaign=gpa"  target="_blank">Order Online</a>
                            <a href="/reservations">Reservations</a>
                            <a href="/about_us">About Us</a>
                            <a href="/contact_us">Contact Us</a>
                        </div>
                    </div>
                    <h1>DRINKS</h1>
                </div>
                <div id="menuTop">
                    <div class="menuItems">
                        <h2>Non Alcoholic Drinks</h2>
                        <P>Winter Melon Lemonade - $4.5</P>
                        <p>Herbal Tea - $3</p>
                        <p>Plum Juice - $3</p>
                        <p>Pepsi, Diet Pepsi, Orange Crush, Sierra Mist - $2</p>
                    </div>
                </div>
            </div>
            <div>
                <img src="../static/images/Group1.png" alt="mumu_hot_pot_logo">
            </div>
        </div>
        <div id="menuBottomRow">
            <div class="menuItems">
                <h2>Alcoholic Drinks</h2>
                <P>House Sake (hot or cold) - $6</P>
                <p>Karatamba Sake - $12</p>
                <p>Fruity Soju</p> 
                <p>(Mango, Yogurt, Strawberry) - $12</p>
                <p>Sapporo - $4</p>
                <p>Asahi - $4</p>
                <p>Tsingtao - $3.5</p>
                <p>Corona - $2.5</p>
            </div>
            <div>
                <img  id="drinksImg" src="../static/images/sake.jpeg" alt="mumu_1">

            </div>
        </div>




    </div>
    <script src="../static/script.js"></script>
</body>
</html>