<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>home_page</title>
</head>
<body>
    <div id="container">
        <div id="topRow">   
                <p>Hours: M-Th 12:00pm - 2:30pm, 4:30pm - 8:30pm    F-Su 12:00pm - 9:00pm</p>
                <p>(650) 334-3308</p>
        </div>
        <div id="secondRow">
            <img id="logo" src="../static/images/mumuLogo.jpeg" alt="mumu_hot_pot_logo">
        </div>
        <div id="navBar">
            <div>
                <a href="/menu" class="navBarText">MENU</a>
            </div>
            <div>
                <a href="/drinks" class="navBarText">DRINKS</a>
            </div>
            <div>
                <a href="https://www.doordash.com/store/mumu-hot-pot-foster-city-864410/?utm_campaign=gpa" class="navBarText" target="_blank">ORDER ONLINE</a>
            </div>
            <div>
                <a href="/reservations" class="navBarText">RESERVATIONS</a>
            </div>
            <div>
                <a href="/about_us" class="navBarText">ABOUT US</a>
            </div>
            <div>
                <a href="/contact_us" class="navBarText">CONTACT US</a>
            </div>
        </div>
        <div class="fourthRow">
            <img id="homePageImg" src="../static/images/Mumu Food 1.png" alt="hot_pot_display">
            <img id="homePageImg" src="../static/images/MUMU 1.png" alt="hot_pot_display">
            <img id="homePageImg" src="../static/images/MUMU2 1.png" alt="hot_pot_display">
        </div>

    </div>
    <script src="../static/script.js"></script>
</body>
</html>