<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>menu</title>
</head>
<body>
    <div id="container">
        <div id="menuTopRow">
            <div>
                <div id="menuTitle">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn"><img src="../static/images/menu.png" alt="menu_button" class="menuButton">
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                        <a href="/">Home</a>
                        <a href="/drinks">Drinks</a>
                        <a href="https://www.doordash.com/store/mumu-hot-pot-foster-city-864410/?utm_campaign=gpa"  target="_blank">Order Online</a>
                        <a href="/reservations">Reservations</a>
                        <a href="/about_us">About Us</a>
                        <a href="/contact_us">Contact Us</a>
                        </div>
                    </div>
                    <h1>MENU</h1>
                </div>
                <div id="menuTop">
                    <div class="menuItems">
                        <h2>SOUP BASE</h2>
                        <br>
                        <P>Tom Yum</P>
                        <p>Sukiyaki</p>
                        <p>Creamy Tomato</p>
                        <p>Mushroom</p>
                    </div>
                    <div class="menuItems">
                        <h2>VEGETABLE</h2>
                        <br>
                        <P>Napa Cabbage</P>
                        <p>Spinach</p>
                        <p>Bamboo</p>
                        <p>Corn</p>
                    </div>
                </div>
            </div>
            <div>
            <img class="logoCorner" src="../static/images/mumuLogo.jpeg" alt="mumu_hot_pot_logo">
            </div>
        </div>
        <div id="menuBottomRow">
            <div class="menuItems">
                <h2>MEAT</h2>
                <br>
                <P>Wagyu</P>
                <p>Beef</p>
                <p>Chicken</p>
                <p>Lamb</p>
            </div>
            <div>
                <img  class="menuImg" src="../static/images/MUMU 1.png" alt="mumu_1">
                <img  class="menuImg" src="../static/images/MUMU4 1.png" alt="mumu_4">
            </div>
        </div>
        <div class="menuEntreeRow">
            <div class="menuItems">
                <h2>ENTREE</h2>
                <br>
                <br>

                <p>Meat Lover - $48</p>
                <p>Recommended For 2 People</p>
                <br>
                <br>
                <p>2 Soup Base</p>
                <p>3 Meats 7oz each</p>
                <p>2 Rice & Noodle</p>
                <p>2 Dessert</p>
                <p>Veggie Platter</p>
                <p>Unlimited Dipping Sauce Bar</p>


            </div>
            <div>
                <img  class="menuImg" src="../static/images/meat_lover.jpeg" alt="mumu_1">
            </div>
        </div>
        <div class="menuEntreeRow">
            <div class="menuItems">
                <!-- <h2>ENTREE</h2> -->
                <p>Mumu - $48</p>
                <p>Recommended For 2 People</p>
                <br>
                <br>
                <p>2 Soup Base</p>
                <p>2 Meats 7oz each</p>
                <p>2 Sides</p>
                <p>2 Rice & Noodle</p>
                <p>2 Dessert</p>
                <p>Veggie Platter</p>
                <p>Unlimited Dipping Sauce Bar</p>
            </div>
            <div>
                <img  class="menuImg" src="../static/images/mumu_entree.jpeg" alt="mumu_1">
            </div>
        </div>
        <div class="menuEntreeRow">
            <div class="menuItems">
                <!-- <h2>ENTREE</h2> -->
                <p>Single's - $20</p>
                <p>Recommended For 1 Person</p>
                <br>
                <br>
                <p>1 Soup Base</p>
                <p>1 Meats 7oz each</p>
                <p>1 Rice & Noodle</p>
                <p>1 Dessert</p>
                <p>Veggie Platter</p>
                <p>Unlimited Dipping Sauce Bar</p>
            </div>
            <div>
                <img  class="menuImg" src="../static/images/single.jpeg" alt="mumu_1">
            </div>
        </div>



    </div>
    <script src="../static/script.js"></script>
</body>
</html>