<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>thank_you</title>
</head>
<body>
    <div id="container">
        <div id="menuTopRow">
            <div>
                <div id="menuTitle">
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn"><img src="../static/images/menu.png" alt="menu_button" class="menuButton">
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <a href="/">Home</a>
                            <a href="/menu">Menu</a>
                            <a href="/drinks">Drinks</a>
                            <a href="https://www.doordash.com/store/mumu-hot-pot-foster-city-864410/?utm_campaign=gpa"  target="_blank">Order Online</a>
                            <a href="/reservations">Reservations</a>
                            <a href="/about_us">About Us</a>
                            <a href="/contact_us">Contact Us</a>
                        </div>
                    </div>
                    <h1>THANK YOU</h1>
                </div>
                <div id="menuTop">
                    <div class="menuItems">
                        <h2>We have received your message.</h2>
                        <P>We will get back to you soon!</P>
                    </div>
                </div>
            </div>
            <div>
                <img class="logoCorner" src="../static/images/mumuLogo.jpeg" alt="mumu_hot_pot_logo">
            </div>
        </div>




    </div>
    <script src="../static/script.js"></script>
</body>
</html>