<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>html_table</title>
<body>
    <style>
        table {
          border-collapse: collapse;
        }
        </style>
    <div id="container">
        <h1>HTML Table</h1>
    <table>
        <tr>
            <th>Firstname</th>
            <th>LastName</th>
            <th>Full name</th>
        </tr>
            {% for i in range(user|length) %}
        <tr>
            <td>{{user[i]['first_name']}}</td>
            <td>{{user[i]['last_name']}}</td>
            <td> {{user[i]['first_name']}} {{user[i]['last_name']}}</td>
        </tr>
            {% endfor %}
    </table>
    </div>
</body>

</html>