#Search {
    border-radius: 100px;
    width: 100px;
    margin-bottom: 10px;
    border-width: 1px;
    border-color: black;
}

#plus {
    border-radius: 50%;
    margin-bottom: 10px;
    background-color: green;
    color: white;
}

#create_account {
    background-color: rgb(78, 78, 252);
    color: white;
    box-shadow: 5px 5px black;
}