<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a Magazine</title>
</head>
<body>
    <a href="/dashboard" class="btn btn-primary">Dashboard</a>
    <a href="/logout" class="btn btn-info">Logout</a>
    <form action="/create/subscription" method="post">
        <h2>Add a Magazine</h2>
            {% with messages = get_flashed_messages(category_filter=['subscription']) %}
            {% if messages %}
            <div>
                {% for message in messages %}
                <p>{{message}}</p>
                {% endfor %}
            </div>
                {% endif %}
                {% endwith %}
                <label for="title">Title:</label>
                <br>
                <input type="text" name="title">
                <br>
                <label for="description">Description:</label>
                <br>
                <textarea name="description"  cols="30" rows="5"></textarea>
                <br>
            <input type="submit" value="Submit">
    </form>
</body>
</html>